params {
    config_profile_name        = 'Test assembled in immcantation/suite:devel with local executor.'
    config_profile_description = 'Test assembled workflow in immcantation/suite:devel with local executor for immcantation processes'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = 16.GB
    max_time   = 1.h

    // Input data
    mode = 'assembled'
    input = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/testdata-reveal/test_assembled_metadata_hs.tsv'
    imgtdb_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/database-cache/imgtdb_base.zip'
    igblast_base = 'https://raw.githubusercontent.com/nf-core/test-datasets/airrflow/database-cache/igblast_base.zip'
    igphyml = '/usr/local/share/igphyml/src/igphyml'

    reassign = true
    productive_only = true
    collapseby = 'filename'
    cloneby = 'subject_id'
    crossby = 'subject_id'
    remove_chimeric = true
    skip_multiqc = true
}

process{
    withLabel:'immcantation'{
        executor = 'local'
        memory = '16.GB'
    }

    withName:'SAMPLESHEET_CHECK_ASSEMBLED'{
        executor = 'local'
    }

    withName:'UNZIP_IGBLAST'{
        memory = '16.GB'
    }

    withName:'UNZIP_REFERENCE_FASTA'{
        memory = '16.GB'
    }
}

env {
    PYTHONNOUSERSITE = 0
}
