process{
    withLabel:'immcantation'{
        executor = 'local'
        memory = '16.GB'
    }

    withName:'SAMPLESHEET_CHECK_ASSEMBLED'{
        executor = 'local'
    }

    withName:'UNZIP_IGBLAST'{
        memory = '16.GB'
    }

    withName:'UNZIP_REFERENCE_FASTA'{
        memory = '16.GB'
    }
}

env {
    PYTHONNOUSERSITE = 0
}
